body{
    margin: 0px;
}

#logo > img{
    display: block;
    margin: 0 auto;
    margin-top: 107px;
    margin-bottom: auto;
}

#form-text-inputs{
    position: relative;
    text-align: center;
}

.tooltiptext{
    visibility: hidden;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-family: "Arial";
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    position: absolute;
    left: 600px;
    bottom: 10px;
}

input[type="text"]:hover + .tooltiptext{
    transition-delay: 0.5s;
    visibility: visible;
}

input[type="text"]:focus + .tooltiptext{
    transition-delay: 0.1s;
    visibility: hidden;
}

input[type="text"]:hover{
  box-shadow: 0 0 10px lightgray;
}

input[type="submit"], button[type="submit"]{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Arial";
    font-size: 14px;
    color: #505050;
}

input[type="submit"]:hover, button[type="submit"]:hover{
    cursor: pointer;
    border: 1px solid darkgray;
    color: black;
}

#form-submit-inputs{
    text-align: center;
}

#buttons{
    text-align: right;
    margin-top: 18px;
}

#buttons button{
    display: inline-block;
    margin-right: 10px;
    border: none;
    background-color: white;
}

#buttons #sign-in{
    background-color: #4285F4;
    color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    font-family: "Arial";
    font-weight: bold;
    margin-right: 30px;
}

#footer button{
    display: inline-block;
    margin-left: 10px;
    margin: 10px;
    border: none;
    font-family: "Arial";
    font-size: 14px;
    color: #505050;
    background-color: #F5F5F5;
}

#footer-info{
    border-top: 1px solid lightgray;
}

#footer-info button:hover, #buttons button:hover{
  text-decoration: underline;
  cursor: pointer;
}
